<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zona de comidas</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../models/styles/trendings.css" />
  </head>
  <body>
    <header>
      <!-- NAVIGATION -->
      <nav class="nav-main">
        <img class="logo" src="../../models/images/logo.png" />
        <a href="../../">Inicio</a>
        <a href="../recipes/">Recetas</a>
        <a href="../info/">Información</a>
      </nav>
    </header>

    <div class="trendings-container">
      <section class="trending">
        <article>
          <div class="trending-img">
            <img src="../../models/images/postres2.jpg" />
            <h1>Lorem ipsum dolor sit amet.</h1>
            <span>19/4/2021</span>
          </div>

          <div class="ingredients">
            <ul>
              <h3>Ingredientes</h3>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
            </ul>
          </div>

          <div class="chef">
            <ul>
              <img src="../../models/images/chef.png" />
              <h3>Kurosaki Sanji</h3>
              <li>
                <a href="#">Recetas</a>
                <h5>25</h5>
              </li>
              <li>
                <a href="#">Rango</a>
                <h5>Profesional</h5>
              </li>
              <li>
                <a href="#">País</a>
                <h5>Japón</h5>
              </li>
              <li>
                <a href="#">Estrellas</a>
                <h5>274</h5>
              </li>
            </ul>
          </div>
        </article>
      </section>

      <section class="trending">
        <article>
          <div class="trending-img">
            <img src="../../models/images/postres2.jpg" />
            <h1>Lorem ipsum dolor sit amet.</h1>
            <span>19/4/2021</span>
          </div>

          <div class="ingredients">
            <ul>
              <h3>Ingredientes</h3>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
            </ul>
          </div>

          <div class="chef">
            <ul>
              <img src="../../models/images/chef.png" />
              <h3>Kurosaki Sanji</h3>
              <li>
                <a href="#">Recetas</a>
                <h5>25</h5>
              </li>
              <li>
                <a href="#">Rango</a>
                <h5>Profesional</h5>
              </li>
              <li>
                <a href="#">País</a>
                <h5>Japón</h5>
              </li>
              <li>
                <a href="#">Estrellas</a>
                <h5>274</h5>
              </li>
            </ul>
          </div>
        </article>
      </section>
      
      <section class="trending">
        <article>
          <div class="trending-img">
            <img src="../../models/images/postres2.jpg" />
            <h1>Lorem ipsum dolor sit amet.</h1>
            <span>19/4/2021</span>
          </div>

          <div class="ingredients">
            <ul>
              <h3>Ingredientes</h3>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
            </ul>
          </div>

          <div class="chef">
            <ul>
              <img src="../../models/images/chef.png" />
              <h3>Kurosaki Sanji</h3>
              <li>
                <a href="#">Recetas</a>
                <h5>25</h5>
              </li>
              <li>
                <a href="#">Rango</a>
                <h5>Profesional</h5>
              </li>
              <li>
                <a href="#">País</a>
                <h5>Japón</h5>
              </li>
              <li>
                <a href="#">Estrellas</a>
                <h5>274</h5>
              </li>
            </ul>
          </div>
        </article>
      </section>

      <section class="trending">
        <article>
          <div class="trending-img">
            <img src="../../models/images/postres2.jpg" />
            <h1>Lorem ipsum dolor sit amet.</h1>
            <span>19/4/2021</span>
          </div>

          <div class="ingredients">
            <ul>
              <h3>Ingredientes</h3>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
            </ul>
          </div>

          <div class="chef">
            <ul>
              <img src="../../models/images/chef.png" />
              <h3>Kurosaki Sanji</h3>
              <li>
                <a href="#">Recetas</a>
                <h5>25</h5>
              </li>
              <li>
                <a href="#">Rango</a>
                <h5>Profesional</h5>
              </li>
              <li>
                <a href="#">País</a>
                <h5>Japón</h5>
              </li>
              <li>
                <a href="#">Estrellas</a>
                <h5>274</h5>
              </li>
            </ul>
          </div>
        </article>
      </section>

      <section class="trending">
        <article>
          <div class="trending-img">
            <img src="../../models/images/postres2.jpg" />
            <h1>Lorem ipsum dolor sit amet.</h1>
            <span>19/4/2021</span>
          </div>

          <div class="ingredients">
            <ul>
              <h3>Ingredientes</h3>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
              <li>Lorem, ipsum.</li>
            </ul>
          </div>

          <div class="chef">
            <ul>
              <img src="../../models/images/chef.png" />
              <h3>Kurosaki Sanji</h3>
              <li>
                <a href="#">Recetas</a>
                <h5>25</h5>
              </li>
              <li>
                <a href="#">Rango</a>
                <h5>Profesional</h5>
              </li>
              <li>
                <a href="#">País</a>
                <h5>Japón</h5>
              </li>
              <li>
                <a href="#">Estrellas</a>
                <h5>274</h5>
              </li>
            </ul>
          </div>
        </article>
      </section>
    </div>

    <!-- FOOTER -->
    <div class="footer-links">
      <ul>
        <li>Lorem</li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
      </ul>
      <ul>
        <li>Lorem</li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
      </ul>
      <ul>
        <li>Lorem</li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
      </ul>
    </div>

    <footer class="footer">
      <h1>Food Court Copyright</h1>
    </footer>

    <!-- JAVASCRIPT -->
    <script src=""></script>
  </body>
</html>
