<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zona de comidas</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../models/styles/recipes.css" />
  </head>
  <body>
    <!-- CABECERA -->
    <header>
      <!-- NAVIGATION -->
      <nav class="nav-main">
        <img class="logo" src="../../models/images/logo.png" />
        <a href="../../">Inicio</a>
        <a href="views/trendings/">Tendencias</a>
        <a href="views/info/">Información</a>
        <button class="lupa"><img width="25px" src="../../models/images/lupa.png"></button>
        <form action="#">
          <input type="text">
          <input type="submit" hidden>
        </form>
        <a href="views/accounts/" class="acc">Cuenta</a>
      </nav>
    </header>
    <!-- CONTAINER -->
    <div class="recipes-container">
      <!-- CATALOGE -->
      <div class="recipes-cataloge"><br>
        <!-- TITLE -->
        <h3>Recetas</h3>
        
        <!-- RECIPES -->
        <div class="recipes">
          <article>
            <img src="../../models/images/receta3.jpg" />
            <div>
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
            </div>
            <h2>Descripción</h2>
            <span>...</span>
          </article>
          <article>
            <img src="../../models/images/receta5.jpg" />
            <div>
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
            </div>
            <h2>Descripción</h2>
            <span>...</span>
          </article>
          <article>
            <img src="../../models/images/receta4.jpg" />
            <div>
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
            </div>
            <h2>Descripción</h2>
            <span>...</span>
          </article>
          <article>
            <img src="../../models/images/torta2.jpg" />
            <div>
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
            </div>
            <h2>Descripción</h2>
            <span>...</span>
          </article>
          <article>
            <img src="../../models/images/papas.jpg" />
            <div>
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
            </div>
            <h2>Descripción</h2>
            <span>...</span>
          </article>
          <article>
            <img src="../../models/images/salchipapa.jpg" />
            <div>
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
            </div>
            <h2>Descripción</h2>
            <span>...</span>
          </article>
          <article>
            <img src="../../models/images/platillo5.jpg" />
            <div>
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
            </div>
            <h2>Descripción</h2>
            <span>...</span>
          </article>
          <article>
            <img src="../../models/images/platillo6.jpg" />
            <div>
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
            </div>
            <h2>Descripción</h2>
            <span>...</span>
          </article>
          <article>
            <img src="../../models/images/platillo4.jpg" />
            <div>
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
              <img src="../../models/images/undefined.png" />
            </div>
            <h2>Descripción</h2>
            <span>...</span>
          </article>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer-links">
      <ul>
        <li>Lorem</li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
      </ul>
      <ul>
        <li>Lorem</li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
      </ul>
      <ul>
        <li>Lorem</li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
      </ul>
    </div>

    <footer class="footer">
      <h1>Food Court Copyright</h1>
    </footer>

    <!-- JAVASCRIPT -->
    <script src="../../controllers/js/cataloge.js"></script>
    <script src="../../controllers/js/navRecipes.js"></script>
    <script src="../../controllers/js/searching.js"></script>
  </body>
</html>
