/* POSTERS */
.posters-container {
  padding-bottom: 0;
}

.posters-container * {
  cursor: default;
  transition: all 400ms;
}

.poster {
  display: flex;
  margin: 2rem auto;
  opacity: 1;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  background: var(--black-alpha-color);
  box-shadow: 0px 0px 4px 2px var(--black-color);
}

.poster h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  opacity: 0;
  color: var(--white-color);
  text-shadow: 2px 2px #000;
}

.poster img {
  width: 100%;
  height: 300px;
}

.poster p {
  margin: 0;
  padding: 0 1rem;
  position: absolute;
  top: 3rem;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: justify;
  text-shadow: 2px 2px #000;
  color: var(--gray-color);
}

.poster a {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  color: var(--gray-color);
}

.poster a:active,
.poster a:hover {
  background: var(--four-color);
}
.poster:hover > img {
  opacity: 0.1;
  pointer-events: none;
}
.poster:hover p,
.poster:hover h3 {
  opacity: 0.8;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .posters-container {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    align-items: center;
    justify-content: center;
  }

  .posters-container h2 {
    grid-column: span 3;
  }

  .poster {
    margin: 0 auto 2rem;
  }

  .poster h3 {
    position: relative;
    font-size: 1rem;
    opacity: 1;
    color: var(--gray-color);
  }

  .poster img {
    width: 240px;
    height: 300px;
  }

  .poster p {
    padding: 0 1rem;
    line-height: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .posters-container {
    width: 90%;
    margin: 0 auto;
  }

  .poster h3 {
    font-size: 1.5vw;
  }

  .poster img {
    width: 320px;
    height: 350px;
  }

  .poster p {
    line-height: 2rem;
  }
}
